html,body{
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}
#site{
    overflow-y: auto;
}
#siteHeader{
    font-size: 3.25rem;
}
#inputNotes{
    font-size: .9rem;
    color: gray;
}
#selectOption{
    border-radius: 16px;
}
#searchField{
    border-radius: 16px;
}
#currentWeatherDiv{
    border-radius:16px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color:	#414141;
}

#sevenDayDiv{
    border-radius:16px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color:	#414141;
}

#heading{
    background-color: #043486;
    color: white;
    height: 150px;
}
#searchColumn{
    background-image: linear-gradient(to top,white,#71A8EE,#3072EB,#1552c6,#0542A8);
    background-color: #00BAFF;
    min-height: 100vh;
    /* border-radius:16px; */
}
#submit-form{
    border-radius: 16px;

}
#weatherColumn{
    background-image: linear-gradient(to top,white,#71A8EE,#3072EB,#1552c6,#0542A8);
    /* background-color: navy; */
    min-height: 100vh;
    /* border-radius:16px; */
    color: white;
}
.images{
    width: 75px;
    height: auto;
    
}
.response{
    font-weight: 900;
}
.card{
    margin: 10px;
}

#alertMessage{
    border-radius: 16px;
}